@import "reset.css";


@font-face {
  font-family: "Apoc";
  font-weight: normal;
  src: url('../fonts/Apoc-Apoc Weight Variable-Trial.ttf');
}

@font-face {
  font-family: "PT Mono";
  font-weight: normal;
  src: url(../fonts/PTMono-Regular.ttf) format('truetype');
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  cursor: default;
  scroll-behavior: smooth;
}

img {
  /* background-size: cover; */
  /* position: relative; */
  /* max-width: 100%;
  height: auto; */

  max-width: 100%;
    height: auto;
}

html {
width: 100%;
overflow-x: hidden;
background-color: black;
scroll-behavior: smooth;
}

h1 {
font-family: "Apoc";
font-size: 42px;
color: white;

position: absolute;
}

h2 {
font-family: "Apoc";
font-size: 27px;
color: white;

position: absolute;
opacity: 1;
}

h3 {
font-family: "PT Mono";
font-size: 20px;
color: white;

position: absolute;
opacity: 1;
}

p {
  overflow: hidden;
  color: white;
  font-size: 28px;
  position: absolute;
  white-space: nowrap;
}

.wrapper {
  position: relative;
  width: 100%;
  background: black;
  overflow: hidden;
}

.sootnosheniye {
  position: relative;
  padding-bottom: 140.595238%;
  background: black;
}

.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; padding: 0;
  background: black;
}

/* IMAGES */

.mainpgbgimg {
width: 96%;
margin-left: 2%;
animation: mainbgan 7s steps(1) ;
animation-play-state: running;
animation-timing-function: ease-in-out;
}

@keyframes mainbgan {
0% {
opacity: 1;
}

20% {
opacity: 0.6;
}

40% {
  opacity: 1;
}

60% {
  opacity: 0.8;
}

80% {
  opacity: 0.7;
}

100% {
opacity: 1;
}
}

.burger1 {
  width:20%;
}

.plakat1 {
margin-top: 8.8%;
margin-left: 7%;
}

.plakat2 {
  margin-top: -28.3%;
  margin-left: 41%;
}

.plakat3 {
margin-top: -28.3%;
margin-left: 74.2%;
}

.plakat4 {
  margin-top: 9.5%;
  margin-left: 7.2%;
}

.plakat5 {
margin-top: -28%;
margin-left: 41.1%;
}

.plakat6 {
margin-top: -28%;
margin-left: 74.3%;
}

.plakat1img{
width: 20%
}

.plakat2img {
width: 31.3%;
}

.plakat3img {
width: 72.7%;
}

.plakat4img {
width: 20%;
}

.plakat5img {
width: 31.5%;
}

.plakat6img {
width: 71.6%;
}
/* GRIDS? */

.first_half {
  position: relative;
  width: 100%;
  display: block;
  border: 1px solid #000000;
}

.second_half {
position: relative;
width: 99.8%;
height: 53.8%;
top: -2.5%;
display: block;
border: 1px solid #000000;}

.footer {
border: 1px solid #000000;
width: 100%;
height: 2%;
}

.qvadrat {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* TEXT */

.contacttxt, .booktxt, .prostranstvotxt, .teamtxt, .abouttxt, .repertuartxt, .plakat2txt, .veta, .tickets1txt, .tickets2txt, .tickets3txt, .veta_a, .veta_t {
cursor: pointer;
}

.contacttxt:hover, .booktxt:hover, .prostranstvotxt:hover, .teamtxt:hover, .abouttxt:hover, .repertuartxt:hover, .plakat2txt:hover, .veta_r:hover, .veta_a:hover, .veta_t:hover {
opacity: 0.75;
}

.eventstxt {
  left: 44.9%;
  top: 1%;
}

.contacttxt {
top: 10%;
left: 14%;
}

.booktxt {
top: 37.5%;
left: 25.8%;
}

.prostranstvotxt {
top: 54.7%;
left: 16.5%;
}

.teamtxt {
top: 21.2%;
left: 41.2%;
}

.abouttxt {
top: 33.7%;
left: 53.5%;
}

.repertuartxt {
top: 26.1%;
left: 86.4%;
}

.raz {
top: 6%;
left: 3%;
}

.dva {
  top: 55%;
  left: 3%;
}

.tri, .cheture {
  transform: rotate(90deg);
}

.tri {
left: -3%;
top: 55.2%;
}

.cheture {
right: -3.3%;
top: 55.3%;
}

.plakat1txt {
top: 51.5%;
left: 7%;
}

.plakat2txt {
left: 41%;
top: 51.5%;
color: white;
text-decoration: none;
}

.plakat2txt:hover {
  color: #FF0000;
  opacity: 0.75;
}

.plakat3txt {
left: 74.2%;
top: 51.5%;
}

.plakat4txt {
left: 7.3%;
top: 100%;
}

.plakat5txt {
left: 41%;
top: 100%;
}

.plakat6txt {
left: 74.2%;
top: 100%;
}

.veta {
left: 7.2%;
color: black;
text-decoration: none;
}

.veta:hover, .veta_contacts:hover, .veta_r:hover {
opacity: 0.75;
}

.ha {
left: 88%;
}

.veta, .ha {
  color: black;
  bottom: 0.6%;
}
/* RESPONSIVE */
@media all and (min-width: 568px){
.burger1_index {display:none;}
.burger2_index {display:none;}
}

@media all and (max-width: 1440px) and (min-width: 568px){
p {font-size: 22px; }
h1 {left: 45.7%;font-size: 35px;}
h3 {font-size: 15px;}
h2 {font-size: 19px;}
.burger1_index {display:none;}
.burger2_index {display:none;}
.tri {left: -3%;}
.cheture {right: -3%;}
.plakat1 {margin-top: 10.8%;}
.plakat1img {width: 18%;}
.plakat1txt, .plakat2txt, .plakat3txt {top: 50.5%;}
.plakat2 {margin-top: -25.3%;}
.plakat2img {width: 28.3%;}
.plakat3 {margin-top: -25.3%;}
.plakat3img {width: 65%;}
.plakat4img {width: 17.5%;}
.plakat4 {margin-top: 11.5%;}
.plakat4txt, .plakat5txt, .plakat6txt {top: 98%;}
.plakat5img {width: 27.5%;}
.plakat5 {margin-top: -25%;}
.plakat6img {width: 63.6%;}
.plakat6 {margin-top: -24.6%;}
.plakat6txt {left: 74.4%;}
.plakat5txt {width: 9%;}
}

@media all and (min-width: 320px){

}


/* CONTACTS */

/* GRID? */

.contactsmain {
  height: 95%;
  border: 1px solid black;
}

.footer_contacts {
width: 100%;
height: 5%;
margin-top: 0.5%;
background-color: white;
}

/* TEXT */

.adresstxt {
top: 12.7%;
left: 5%;
}

.worktxt {
top: 21.7%;
left: 5.1%;
}

.wheretxt {
top: 12.7%;
left: 81.5%;
}

.fromtotxt {
top: 21.7%;
left: 81.5%;
}

.tuttxt {
top: 55%;
left: 50.2%;
color: white;
text-decoration: none;
}

.tuttxt:hover {
  color: #FF0000;
  opacity: 0.75;
}

.tire1 {
left: 11.5%;
top: 12.7%;
}

.tire2 {
top: 21.7%;
left: 16.6%;
}

.veta_contacts {
left: 4.2%;
color: black;
text-decoration: none;
}

.ha_contacts {
left: 90.5%;
}

.veta_contacts, .ha_contacts {
color: black;
bottom: 1%;
}


/* IMAGES */

.map {
margin-left: 4.4%;
margin-top: 21.8%;
}
.mapimg {
width: 95%;
}

.burger_contacts{
margin-left: 93%;
margin-top: 2%;
}

.burger_contacts:hover, .burger_r:hover, .burger_a:hover {
  opacity: 0.75;
}

.burger1_contacts{
width: 17%;
}

.tuttxt, .burger_contacts, .burger_r, .burger_a {
  cursor: pointer;
}


/* RESPONSIVE */

@media all and (min-width: 568px){
.burger2_contacts {display:none;}
}

@media all and (max-width: 1440px) and (min-width: 568px){
p {font-size: 23px;}
h3 {font-size: 15px;}
h2 {font-size: 19px;}
.burger1_contacts {width: 16%;}
.tire1 {left: 10.5%;top: 12.5%;}
.tire2 {top: 21.6%;left: 15%;font-size: 23.3px;}
.mapimg {width: 93%;}
.map {margin-left: 5%;margin-top: 22.3%;}
.tuttxt {left: 49.6%;}
}
/* ограничить текст по ширине но сука как */

@media all and (min-width: 320px){

}

/* REPERTUAR */

/* GRID? */

.first_third_r {
height: 33%;
border: 1px solid black;
}

.second_third_r {
height: 33%;
border: 1px solid black;
top: 30%;
}

.third_third_r {
height: 32.3%;
border: 1px solid black;
top: 60%;
}

.footer_r {
width: 100%;
height: 2%;
margin-top: 0%;
background-color: white;
}

/* TEXT */

.premiertxt {
top: 7.2%;
left: 44%;
}

.actualtxt {
top: 37.7%;
left: 43.6%;
}

.archivetxt {
    top: 68.3%;
left: 46.3%;
}

.number1txt {
top: 12.3%;
left: 11%;
}

.nochtxt {
top: 34%;
left: 11%;
}

.soon1txt {
top: 34%;
left: 39%;
}

.number2txt {
top: 12.3%;
left: 56%;
}

.geroitxt {
  top: 34%;
  left: 56%;
}

.tickets1txt {
top: 34%;
left: 84%;
}

.tickets1txt:hover, .tickets2txt:hover, .tickets3txt:hover{
color: #FF0000;
opacity: 0.75;
}

.tickets1txt, .tickets2txt, .tickets3txt {
color: white;
text-decoration: none;
}

.number3txt {
    top: 43.2%;
  left: 11%;
}

.cursnatxt {
    top: 64.5%;
left: 11%;
}

.tickets2txt {
    top: 64.5%;
left: 39%;
}

.number4txt {
    top: 43.2%;
  left: 56%;
}

.rocktxt {
    top: 64.5%;
  left: 56%;
}

.soon2txt {
    top: 64.5%;
left: 84%;
}

.number5txt {
top: 73%;
left: 11%;
}

.shrifttxt {
top: 95.4%;
left: 11%;
}

.tickets3txt {
top: 95.4%;
left: 40%;
}

.number6txt {
    top: 73%;
left: 55.2%;
}

.ukrstxt {
top: 95.4%;
left: 55.2%;
}

.soon3txt {
top: 95.4%;
left: 85%;
}

.veta_r {
left: 4.2%;
color: black;
text-decoration: none;
}

.ha_r {
left: 90.5%;
}

.veta_r, .ha_r {
color: black;
bottom: 0.5%;
}

.tire1_r {
left: 9.5%;
    top: 5.5%;
}

.tire2_r {
left: 9.5%;
top: 9.2%;
}

.tire3_r {
left: 26.4%;
top: 22.7%;
}

.tire4_r {
left: 9.5%;
    top: 36%;
}

.tire5_r {
left: 9.5%;
    top: 39.7%;
}

.tire6_r {
  left: 26.4%;
  top: 53.2%;
}

.tire7_r {
left: 9.5%;
top: 66.6%;
}

.tire8_r {
left: 9.5%;
    top: 70.3%;
}

.tire9_r {
  left: 26.4%;
    top: 83.8%;
}

.tire10_r {
left: 9.5%;
    top: 97%;
}

.tire1_r, .tire2_r, .tire3_r, .tire4_r, .tire5_r, .tire6_r, .tire7_r, .tire8_r, .tire9_r, .tire10_r {
  font-size: 33px;
}

.tire3_r, .tire6_r, .tire9_r {
  transform: rotate(90deg);
}

/* IMAGES */

.burger_r {
margin-left: 93%;
margin-top: 2%;
}

.burger1_r {
width: 17%;
}

.repertuar1 {
margin-top: 28.1%;
margin-left: 11%;
}

.repertuar1img{
width: 36%
}

.repertuar2 {
margin-top: -29.6%;
margin-left: 56%;
}

.repertuar2img{
width: 73%;
}

.repertuar3 {
margin-top: 23.5%;
margin-left: 11%;
}

.repertuar3img{
width: 36.2%;
}

.repertuar4 {
margin-top: -30.1%;
margin-left: 55.9%;
}

.repertuar4img{
width: 73.4%
}

.repertuar5 {
margin-top: 18%;
margin-left: 11%;
}

.repertuar5img{
width: 37.5%;
}

.repertuar6 {
margin-top: -30.76%;
margin-left: 55%;
}

.repertuar6img{
width: 74.5%;
}

.tickets1txt:hover, .tickets2txt:hover, .tickets3txt:hover {
  opacity: 0.75;
  color: #FF0000;
}

/* RESPONSIVE */

@media all and (max-width: 1440px) and (min-width: 568px){
.tire1_r, .tire2_r, .tire3_r, .tire4_r, .tire5_r, .tire6_r, .tire7_r, .tire8_r, .tire9_r, .tire10_r {font-size: 27px;}
h3 {font-size: 15px;}
h2 {font-size: 19px;}
}

@media all and (min-width: 568px){
.burger2_r {display:none;}
}

/* ABOUT */

/* GRIDS? */

.first_third_a {
height: 33%;
border: 1px solid black;
}

.second_third_a {
height: 32%;
border: 1px solid black;
top: 30%;
}

.third_third_a {
height: 32%;
border: 1px solid black;
top: 60%;
}

.footer_a {
width: 100%;
height: 3%;
margin-top: 0%;
background-color: white;
}

/* TEXT */

.vrez_a {
top: 29.5%;
left: 15.5%;
}

.podrobnosti_a {
  top: 68.7%;
  left: 43.5%;
}

.tire1_a {
  left: 9.3%;
top: 9%;
}

.tire2_a {
left: 9.3%;
top: 36%;
}

.tire3_a {
  left: 36.3%;
  top: 50.9%;
}

.tire4_a {
left: 9.3%;
    top: 65.4%;
}

.tire3_a, .tire6_a {
  transform: rotate(90deg);
}

.tire5_a {
  left: 25.8%;
    top: 84.7%;
}

.tire6_a {
  left: 48%;
      top: 85%;
}

.tire7_a {
left: 9.3%;
top: 72.6%;
}

.aboutthtxt {
top: 41.5%;
left: 53.8%;
}

.prostranstvotxt_a {
  left: 42%;
  top: 83.5%;
}

.booktxt_a {
  left: 52.4%;
  top: 86.75%;
}

.booktxt_a, .prostranstvotxt_a {
color: white;
text-decoration: none;
}

.booktxt_a:hover, .prostranstvotxt_a:hover {
  color: #FF0000;
  opacity: 0.75;
}

.veta_a {
left: 9%;
color: black;
text-decoration: none;
}

.ha_a {
left: 85.5%;
}

.veta_a, .ha_a {
color: black;
bottom: 0.6%;
}

/* IMAGES */

.burger_a{
margin-left: 93%;
margin-top: 2%;
}

.burger1_a{
width: 17%;
}

.about1_a{
  margin-left: 25.3%;
  margin-top: 6%;
}

.about1img{
width: 26%;
position: absolute;
}

.about1img:hover, .about2img:hover{
  -webkit-filter: invert(85%);
  filter: invert(85%);
}

.about2_a{
  margin-left: 50.3%;
  margin-top: 7.5%;
}

.about2img{
width: 26%;
position: absolute;
}

.about3_a{
  margin-left: 10.7%;
  margin-top: 9%;
}

.about3img{
width: 37%;
position: absolute;
}

.house {
    margin-top: 14.5%;
  margin-left: 8%;
}

.houseimg{
width: 18.1%;
position: absolute;
}

.book {
    margin-top: 16.7%;
  margin-left: 79%;
}

.bookimg{
width: 10.5%;
position: absolute;
}

.houseimg:hover, .bookimg:hover {
transform: rotate(4deg);
}

/* RESPONSIVE */
@media all and (min-width: 568px){
.burger2_a {display:none;}
}

/* TEAM */

/* GRID? */

.first_quarter_t {
height: 23%;
border: 1px solid white;
}

.second_quarter_t {
  height: 25%;
  border: 1px solid white;
  top: 25%;
}

.third_quarter_t {
height: 25%;
border: 1px solid white;
top: 50%;
}

.fourth_quarter_t {
height: 25%;
border: 1px solid white;
top: 75%;
}

.footer_t {
width: 100%;
height: 3%;
margin-top: -0.5%;
background-color: white;
}
/* TEXT */

.shtxt, .btxt, .atxt, .itxt, .ttxt, .etxt, .otxt, .ftxt, .gtxt, .jtxt, .ztxt {
  text-align: center;
}

.shtxt {
left: 10%;
top: 20%;
}

.btxt {
left: 20%;
top: 20%;
}

.atxt {
left: 40%;
top: 20%;
}

.itxt {
left: 20%;
top: 40%;
}

.ttxt {
left: 40%;
top: 40%;
}

.etxt {
left: 60%;
top: 40%;
}

.otxt {
left: 20%;
top: 60%;
}

.ftxt {
left: 40%;
top: 60%;
}

.gtxt {
left: 60%;
top: 60%;
}

.jtxt {
left: 20%;
top: 80%;
}

.ztxt {
left: 40%;
top: 80%;
}

.question_t {
top: 79%;
left: 80%;
color: black;
}

.veta_t {
left: 9%;
color: black;
text-decoration: none;
}

.ha_t {
left: 85.5%;
}

.veta_t, .ha_t {
color: black;
bottom: 0.7%;
}

/* IMAGES */

.burger_t{
margin-left: 93%;
margin-top: 2%;
}

.burger1_t{
width: 17%;
}

.team1 {
  margin-left: 10%;
  margin-top: 10%;
}

.team1_img {
  position: absolute;
  width: 18%;
}

.team2 {
  margin-left: 30%;
  margin-top: 10%;
}

.team2_img {
  position: absolute;
  width: 18%;
}

.team3 {
  margin-left: 49%;
  margin-top: -1.5%;
}

.team3_img {
  position: absolute;
      width: 19.3%;
}

.team4 {
  margin-left: 20%;
  margin-top: 20%;
}

.team4_img {
  position: absolute;
  width: 10%;
}

.team5 {
  margin-left: 40%;
  margin-top: 20%;
}

.team5_img {
  position: absolute;
  width: 10%;
}

.team6 {
  margin-left: 80%;
  margin-top: 20%;
}

.team6_img {
  position: absolute;
  width: 10%;
}

.team7 {
  margin-left: 20%;
  margin-top: 20%;
}

.team7_img {
  position: absolute;
  width: 10%;
}

.team8 {
  margin-left: 40%;
  margin-top: 20%;
}

.team8_img {
  position: absolute;
  width: 10%;
}

.team9 {
  margin-left: 80%;
  margin-top: 20%;
}

.team9_img {
  position: absolute;
  width: 10%;
}

.team10 {
  margin-left: 20%;
  margin-top: 10%;
}

.team10_img {
  position: absolute;
  width: 10%;
}

.team11 {
  margin-left: 40%;
  margin-top: 10%;
}

.team11_img {
  position: absolute;
  width: 10%;
}

.circle_question {
width: 10%;
height: 27%;
margin-left: 78%;
margin-top: 20%;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 50%;
}

/* RESPONSIVE */

@media all and (min-width: 568px){
.burger2_t {display:none;}
}
