@import "reset.css";
@import "responsive.css";



@font-face {
font-family: "Apoc";
font-weight: normal;
src: url('../fonts/Apoc-Apoc Weight Variable-Trial.ttf');
}

@font-face {
font-family: "PT Mono";
font-weight: normal;
src: url(../fonts/PTMono-Regular.ttf) format('truetype');
}

body {
overflow-x: hidden;
width: 100%;
margin: 0;
cursor: default;
scroll-behavior: smooth;
}

img {
  /* background-size: cover; */
  /* position: relative; */
  /* max-width: 100%;
  height: auto; */

max-width: 100%;
height: auto;
}

html {
width: 100%;
overflow-x: hidden;
background-color: black;
scroll-behavior: smooth;
}

h1 {
font-family: "Apoc";
font-size: 42px;
color: white;
position: absolute;
}

h2 {
font-family: "Apoc";
font-size: 29px;
color: white;
position: absolute;
opacity: 1;
}

h3 {
font-family: "PT Mono";
font-size: 20px;
color: white;
position: absolute;
opacity: 1;
}

p {
overflow: hidden;
color: white;
font-size: 28px;
position: absolute;
white-space: nowrap;
}

button {
font-family: "Apoc";
font-size: 30px;
position: absolute;
z-index: 9999;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
background: black;
outline-style: none;
}

.swal-title {
color: black;
font-family: "Apoc";
font-size: 39px;
left: 8px;
top: 10px;
}

.swal-modal {
height: 230px;
}

.swal-button--confirm {
background-color: black !important;
left: -432px;
top: 22px;
outline-style: none;
}

.swal-button--confirm:hover {
background-color: #FF0000 !important;
}

.swal-button{
background-color: black;
border-radius: 0px;
height: 46px;
width: 138px;
font-size: 19px;
}

.swal-button__loader {
background-color: black;
}

.swal-button--cancel {
background-color: black;
color: white;
left: -133px;
top: 22px;
outline-style: none;
}

.swal-button--cancel:hover {
background-color: #FF0000 !important;
}

.wrapper {
position: relative;
width: 100%;
background: black;
overflow: hidden;
}

.sootnosheniye_index{
position: relative;
padding-bottom: 140.595238%;
background: black;
}

.content {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0; padding: 0;
background: black;
}

/* IMAGES */

.mainpgbgimg {
width: 96%;
margin-left: 2%;
animation: mainbgan 7s steps(1) ;
animation-play-state: running;
animation-timing-function: ease-in-out;
}

@keyframes mainbgan {
0% {
opacity: 1;
}

20% {
opacity: 0.6;
}

40% {
  opacity: 1;
}

60% {
  opacity: 0.8;
}

80% {
  opacity: 0.7;
}

100% {
opacity: 1;
}
}

.burger1 {
width:20%;
}

.plakat1 {
margin-top: 8.8%;
margin-left: 7%;
}

.plakat2 {
margin-left: 41%;
}

.plakat2, .plakat3 {
margin-top: -28.3%;
}

.plakat3 {
margin-left: 74.2%;
}

.plakat4 {
margin-top: 9.5%;
margin-left: 7.2%;
}

.plakat5 {
margin-top: -28%;
margin-left: 41.1%;
}

.plakat6 {
margin-top: -28%;
margin-left: 74.3%;
}

.plakat1img{
width: 20%
}

.plakat2img {
width: 31.3%;
}

.plakat3img {
width: 72.7%;
}

.plakat4img {
width: 20%;
}

.plakat5img {
width: 31.5%;
}

.plakat6img {
width: 71.6%;
}

/* GRIDS? */

.first_half, .second_half {
position: relative;
border: 1px solid black;
}

.first_half {
width: 100%;
display: block;
}

.second_half {
width: 99.8%;
height: 53.8%;
top: -2.5%;
display: block;
}

.footer {
border: 1px solid white;
width: 100%;
height: 2%;
margin-top: 0.5%;
}

.qvadrat {
width: 100%;
height: 100%;
background-color: white;
}

/* TEXT */

.contacttxt, .booktxt, .prostranstvotxt, .teamtxt, .abouttxt, .repertuartxt, .plakat2txt, .veta, .tickets1txt, .tickets2txt, .tickets3txt, .veta_a, .veta_t, .veta_b, .veta_g, #ticketqvadrat3, #ticketqvadrat4, .veta_cn, .veta_ss, #ticketqvadrat2cn, #ticketqvadrat1_cn, #ticketqvadrat3_cn, #ticketqvadrat4_cn, .ticketqvadrat2_ss, .ticketqvadrat3_ss
{cursor: pointer;}

.ticketqvadrat4_ss, .veta_pr {
cursor: pointer;}

.contacttxt:hover, .booktxt:hover, .prostranstvotxt:hover, .teamtxt:hover, .abouttxt:hover, .repertuartxt:hover, .plakat2txt:hover, .veta_r:hover, .veta_a:hover, .veta_t:hover, .veta_b:hover, .veta_g:hover, .veta_cn:hover, .veta_ss:hover, .veta_pr:hover {
opacity: 0.75;
}

.eventstxt {
left: 44.9%;
top: 1%;
}

.contacttxt {
top: 9.5%;
left: 14%;
}

.booktxt {
top: 37.5%;
left: 25.8%;
}

.prostranstvotxt {
top: 52%;
left: 18.4%;
}

.teamtxt {
top: 21.6%;
left: 42.2%;
}

.abouttxt {
top: 31.7%;
left: 54.3%;
}

.repertuartxt {
top: 26.1%;
left: 86.4%;
}

.raz {
top: 6%;
}

.dva {
top: 55%;
}

.raz, .dva {
left: 3%;
}

.tri, .cheture {
transform: rotate(90deg);
}

.tri {
left: -3%;
top: 55.2%;
}

.cheture {
right: -3.3%;
top: 55.3%;
}

.plakat1txt, .plakat2txt, .plakat3txt {
top: 51.5%;
}

.plakat1txt {
/* left: 7%; */
left: 9.7%;
}

.plakat2txt {
/* left: 41%; */
left: 43.2%;
color: white;
text-decoration: none;
}

.plakat2txt:hover {
color: #FF0000;
opacity: 0.75;
}

.plakat3txt {
/* left: 74.2%; */
left: 77.5%;
}

.plakat4txt {
/* left: 7.3%; */
left: 9.7%;
}

.plakat5txt {
/* left: 41%; */
left: 41.6%;
    width: 18%;
}

.plakat6txt {
/* left: 74.2%; */
    left: 76.2%;
}

.plakat4txt, .plakat5txt, .plakat6txt  {
top: 101%;
}

.plakat3txt, .plakat2txt, .plakat1txt, .plakat4txt, .plakat5txt, .plakat6txt {
  font-size: 19px;
}

.veta {
left: 7.2%;
color: black;
text-decoration: none;
}

.veta:hover, .veta_contacts:hover, .veta_r:hover {
opacity: 0.75;
}

.ha {
left: 88%;
}

.veta, .ha {
color: black;
bottom: 0.6%;
}

/* CONTACTS */

/* GRID? */

.contactsmain {
height: 95%;
border: 1px solid black;
}

.footer_contacts {
width: 100%;
height: 5%;
margin-top: 0.5%;
background-color: white;
}

/* TEXT */

.adresstxt {
left: 5%;
}

.worktxt {
left: 5.1%;
}

.worktxt, .fromtotxt {
top: 21.7%;
}

.adresstxt, .wheretxt {
top: 12.7%;
}

.wheretxt, .fromtotxt {
left: 81.5%;
}

.tuttxt {
top: 55%;
left: 50.2%;
color: white;
text-decoration: none;
}

.tuttxt:hover {
color: #FF0000;
opacity: 0.75;
}

.tire1 {
left: 11.5%;
top: 12.7%;
}

.tire2 {
top: 21.7%;
left: 16.6%;
}

.veta_contacts {
left: 4.2%;
color: black;
text-decoration: none;
}

.ha_contacts {
left: 90.5%;
}

.veta_contacts, .ha_contacts {
color: black;
bottom: 1%;
}

/* IMAGES */

.map {
margin-left: 4.4%;
margin-top: 21.8%;
}
.mapimg {
width: 95%;
}

.burger_contacts{
margin-left: 93%;
margin-top: 2%;
}

.burger_contacts:hover, .burger_r:hover, .burger_a:hover {
opacity: 0.75;
}

.burger1_contacts{
width: 17%;
}

.tuttxt, .burger_contacts, .burger_r, .burger_a {
cursor: pointer;
}

/* REPERTUAR */

/* GRID? */

.first_third_r, .second_third_r, .third_third_r  {
border: 1px solid black;
}

.first_third_r {
height: 33%;
}

.second_third_r {
height: 33%;
top: 30%;
}

.third_third_r {
height: 32.3%;
top: 60%;
}

.footer_r {
width: 100%;
height: 2%;
margin-top: 0%;
background-color: white;
}

/* TEXT */

.premiertxt {
top: 7.2%;
left: 44%;
}

.actualtxt {
top: 37.7%;
left: 43.6%;
}

.archivetxt {
top: 68.3%;
left: 46.3%;
}

.number1txt, .nochtxt {
left: 11%;
}

.soon1txt {
left: 39%;
}

.number2txt, .geroitxt {
left: 56%;
}

.number1txt, .number2txt {
top: 12.3%;
}

.soon1txt, .geroitxt, .tickets1txt, .nochtxt {
top: 34%;
}

.tickets1txt {
left: 84%;
}

.tickets1txt:hover, .tickets2txt:hover, .tickets3txt:hover{
color: #FF0000;
opacity: 0.75;
}

.tickets1txt, .tickets2txt, .tickets3txt {
color: white;
text-decoration: none;
}

.number3txt, .number4txt {
top: 43.2%;
}

.number3txt, .cursnatxt, .number5txt, .shrifttxt {
left: 11%;
}

.cursnatxt, .tickets2txt, .rocktxt, .soon2txt {
top: 64.5%;
}

.tickets2txt {
left: 39%;
}

.number4txt, .rocktxt  {
left: 56%;
}

.soon2txt {
left: 84%;
}

.number5txt, .number6txt {
top: 73%;
}

.shrifttxt, .tickets3txt, .ukrstxt, .soon3txt {
top: 95.4%;
}

.tickets3txt {
left: 40%;
}

.number6txt, .ukrstxt {
left: 55.2%;
}

.soon3txt {
left: 85%;
}

.veta_r {
left: 9.2%;
color: black;
text-decoration: none;
}

.ha_r {
left: 85.2%;
}

.veta_r, .ha_r {
color: black;
bottom: 0.5%;
}

.tire1_r, .tire2_r, .tire4_r, .tire5_r, .tire7_r, .tire8_r, .tire10_r {
left: 9.5%;
}

.tire1_r {
top: 5.5%;
}

.tire2_r {
top: 9.2%;
}

.tire3_r {
top: 22.7%;
}

.tire3_r, .tire6_r, .tire9_r {
left: 26.4%;
}

.tire4_r {
top: 36%;
}

.tire5_r {
top: 39.7%;
}

.tire6_r {
top: 53.2%;
}

.tire7_r {
top: 66.6%;
}

.tire8_r {
top: 70.3%;
}

.tire9_r {
top: 83.8%;
}

.tire10_r {
top: 97%;
}

.tire1_r, .tire2_r, .tire3_r, .tire4_r, .tire5_r, .tire6_r, .tire7_r, .tire8_r, .tire9_r, .tire10_r {
font-size: 33px;
}

.tire3_r, .tire6_r, .tire9_r {
transform: rotate(90deg);
}

/* IMAGES */

.burger_r {
margin-left: 93%;
margin-top: 2%;
}

.burger1_r {
width: 17%;
}

.repertuar1 {
margin-top: 28.1%;
}

.repertuar1img{
width: 36%
}

.repertuar1, .repertuar3, .repertuar5 {
margin-left: 11%;
}

.repertuar2 {
margin-top: -29.6%;
margin-left: 56%;
}

.repertuar2img{
width: 73%;
}

.repertuar3 {
margin-top: 23.5%;
}

.repertuar3img{
width: 36.2%;
}

.repertuar4 {
margin-top: -30.1%;
margin-left: 55.9%;
}

.repertuar4img{
width: 73.4%
}

.repertuar5 {
margin-top: 18%;
}

.repertuar5img{
width: 37.5%;
}

.repertuar6 {
margin-top: -30.76%;
margin-left: 55%;
}

.repertuar6img{
width: 74.5%;
}

.tickets1txt:hover, .tickets2txt:hover, .tickets3txt:hover {
opacity: 0.75;
color: #FF0000;
}

/* ABOUT */

/* GRIDS? */

.first_third_a, .second_third_a, .third_third_a  {
border: 1px solid black;
}

.first_third_a {
height: 33%;
}

.second_third_a {
height: 32%;
top: 30%;
}

.third_third_a {
height: 32%;
top: 60%;
}

.footer_a {
width: 100%;
height: 3%;
margin-top: 0%;
background-color: white;
}

/* TEXT */

.vrez_a {
top: 29.5%;
left: 15.5%;
}

.podrobnosti_a {
top: 68.7%;
left: 43.5%;
}

.tire1_a, .tire2_a, .tire4_a, .tire7_a {
left: 9.3%;
}

.tire1_a {
top: 9%;
}

.tire2_a {
top: 36%;
}

.tire3_a {
left: 36.3%;
top: 50.9%;
}

.tire4_a {
top: 65.4%;
}

.tire3_a, .tire6_a {
transform: rotate(90deg);
}

.tire5_a {
left: 25.8%;
top: 84.7%;
}

.tire6_a {
left: 48%;
top: 85%;
}

.tire7_a {
top: 72.6%;
}

.aboutthtxt {
top: 41.5%;
left: 53.8%;
}

.prostranstvotxt_a {
left: 42%;
top: 83.5%;
}

.booktxt_a {
left: 52.4%;
top: 86.75%;
}

.booktxt_a, .prostranstvotxt_a {
color: white;
text-decoration: none;
}

.booktxt_a:hover, .prostranstvotxt_a:hover {
color: #FF0000;
opacity: 0.75;
}

.veta_a {
left: 9%;
color: black;
text-decoration: none;
}

.ha_a {
left: 85.5%;
}

.veta_a, .ha_a {
color: black;
bottom: 0.8%;
}

/* IMAGES */

.burger_a{
margin-left: 93%;
margin-top: 2%;
}

.burger1_a{
width: 17%;
}

.about1_a{
margin-left: 25.3%;
margin-top: 6%;
}

.about1img, .about2img {
width: 26%;
position: absolute;
}

.about1img:hover, .about2img:hover{
-webkit-filter: invert(85%);
filter: invert(85%);
}

.about2_a{
margin-left: 50.3%;
margin-top: 7.5%;
}

.about3_a{
margin-left: 10.7%;
margin-top: 9%;
}

.about3img{
width: 37%;
position: absolute;
}

.house {
margin-top: 14.5%;
margin-left: 8%;
}

.houseimg{
width: 18.1%;
position: absolute;
}

.book {
margin-top: 16.7%;
margin-left: 79%;
}

.bookimg{
width: 10.5%;
position: absolute;
}

.houseimg:hover, .bookimg:hover {
transform: rotate(4deg);
}

/* RESPONSIVE */
@media all and (min-width: 568px){
.burger2_a {display:none;}
}

/* TEAM */

/* GRID? */

.first_quarter_t, .second_quarter_t, .third_quarter_t, .fourth_quarter_t  {
border: 1px solid black;
}

.first_quarter_t {
height: 23%;
}

.second_quarter_t {
height: 25%;
top: 25%;
}

.third_quarter_t {
height: 25%;
top: 50%;
}

.fourth_quarter_t {
height: 25%;
top: 75%;
}

.footer_t {
width: 100%;
height: 3%;
margin-top: -0.5%;
background-color: white;
}
/* TEXT */

.shtxt, .btxt, .atxt, .itxt, .ttxt, .etxt, .otxt, .ftxt, .gtxt, .jtxt, .ztxt {
text-align: center;
}

.shtxt {
left: 16.5%;
}

.shtxt, .btxt, .atxt {
top: 19.5%;
}

.btxt {
left: 47%;
}

.atxt {
left: 79%;
}

.itxt {
left: 13.5%;
}

.itxt, .ttxt, .etxt {
top: 44.5%;
}

.ttxt {
left: 44%;
}

.etxt {
left: 79.3%;
}

.otxt {
left: 16.5%;
}

.otxt, .ftxt, .gtxt {
top: 69%;
}

.ftxt {
left: 45%;
}

.gtxt {
left: 76.3%;
}

.jtxt {
left: 12%;
}

.jtxt, .ztxt {
top: 94%;
}

.ztxt {
left: 47.5%;
}

.question_t {
top: 83.4%;
left: 75%;
color: black;
}

.veta_t {
left: 9%;
color: black;
text-decoration: none;
}

.ha_t {
left: 85.5%;
}

.veta_t, .ha_t {
color: black;
bottom: 0.7%;
}

/* IMAGES */

.burger_t{
margin-left: 93%;
margin-top: 2%;
}

.burger1_t{
width: 17%;
}

.team1 {
margin-left: 8.5%;
margin-top: 4.8%;
}

.team1_img, .team2_img, .team4_img, .team7_img  {
width: 21%;
}

.team1_img, .team2_img, .team3_img, .team4_img, .team5_img, .team6_img, .team7_img, .team8_img, .team9_img, .team10_img, .team11_img {
position: absolute;
}

.team2, .team3 {
margin-top: -0.1%;
}

.team2_img {
height: 14.2%;
}

.team3, .team6, .circle_question {
margin-left: 70.5%;
width: 23%;
}

.team3_img {
height: 14.3%;
}

.team4, .team7 {
margin-left: 8.5%;
}

.team4, .team5, .team6, .team7 {
margin-top: 7.4%;
}

.team2, .team5 {
margin-left: 39.4%;
}

.team5_img {
width: 23.9%;
height: 17.1%;
}

.team6_img {
height: 14%;
}

.team8 {
margin-left: 39.4%;
margin-top: -1.2%;
}

.team8_img {
width: 22.8%;
height: 17%;
}

.team9 {
margin-left: 68.55%;
margin-top: 8.6%;
}

.team9_img {
width: 24.9%;
height: 14.4%;
}

.team10 {
margin-left: 7.9%;
}

.team10, .circle_question {
margin-top: 7.3%;
}

.team10_img {
width: 23.6%;
height: 15.2%;
}

.team11 {
margin-left: 35.5%;
margin-top: 7.1%;
}

.team11_img {
width: 32.3%;
height: 20.5%;
}

.circle_question {
width: 20.8%;
height: 55.2%;
background: #FFFFFF;
box-sizing: border-box;
border-radius: 50%;
}

.team1_img:hover, .team7_img:hover {
transform: rotate(90deg);
}

.team6_img:hover, .team10_img:hover {
transform: rotate(-90deg);
}

/* RESPONSIVE */

@media all and (min-width: 568px){
.burger2_t {display:none;}
}

/* BOOK */

/* GRID? */

.first_third_b, .second_third_b, .third_third_b  {
border: 1px solid black;
}

.first_third_b {
height: 18%;
}

.second_third_b {
height: 36%;
top: 25%;
}

.third_third_b {
height: 45.1%;
top: 50%;
}

.footer_b {
width: 100%;
height: 3%;
margin-top: -0.5%;
background-color: white;
}

/* TEXT */

.izdatelstvo, .moscow {
left: 51.7%;
}

.izdatelstvo {
top: 6.5%;
}

.moscow {
top: 90.5%;
}

.bookabout, .firstissue {
left: 5%;
}

.bookabout {
top: 41%;
}

.firstissue {
top: 85%;
}

.readfull {
top: 64%;
left: 77%;
text-decoration: none;
}

.readfull:hover {
color: #FF0000;
opacity: 0.75;
}

.izdatelstvo, .moscow, .bookabout, .firstissue, .readfull {
color: black;
}

.tire1_b, .tire2_b, .tire3_b, .tire6_b, .tire7_b, .tire8_b  {
left: 9.3%;
}

.tire1_b {
top: 2.5%;
}

.tire2_b {
top: 17.4%;
}

.tire3_b {
top: 49.1%;
}

.tire4_b, .tire5_b {
top: 74%;
}

.tire4_b {
/* left: -39.9%; */
    left: -38.9%;
}

.tire5_b {
/* left: -5.9%; */
    left: -7.5%;
}

.tire4_b, .tire5_b {
transform: rotate(90deg);
}

.tire6_b {
top: 61.5%;
}

.tire7_b {
top: 73.9%;
}

.tire8_b {
top: 86.4%;
}

.tire9_b {
left: 0.5%;
top: 21.4%;
}

.number1_b {
top: 50.8%;
}

.stool_b {
top: 60%;
}

.stool_b, .number1_b, .number4_b{
/* left: 36%; */
left: 38%;
}

.number2_b, .sofa_b{
left: 70%;
}

.number2_b {
top: 63%;
}

.sofa_b {
top: 72.4%;
}

.number3_b, .table_b {
/* left: 9.4%; */
left: 11.4%;
}

.number3_b {
top: 75.6%;
}

.table_b {
top: 85.2%;
}

.number4_b {
top: 88.2%;
}

.poof_b {
top: 97.5%;
left: 37%;
}

.veta_b {
left: 9%;
color: black;
text-decoration: none;
}

.ha_b {
left: 85.5%;
}

.veta_b, .ha_b {
color: black;
bottom: 0.3%;
}

/* IMAGES */

.book1row {
margin-top: 2.1%;
}

.book1row_img, .book2row_img, .book3row_img, .book4row_img, .book5row_img, .book6row_img {
position: absolute;
width: 81.3%;
}

.book1row, .book2row, .book3row, .book4row, .book5row, .book6row {
margin-left: 9.3%;
}

.book2row {
margin-top: 17.1%;
}

.book3row {
margin-top: 32.1%;
}

.book4row {
margin-top: 47.1%;
}

.book5row {
margin-top: 62.1%;
}

.book6row {
margin-top: 77.1%;
}

.bookstar1 {
margin-left: 13%;
margin-top: -3.9%;
}

.bookstar1_img, .bookstar2_img, {
width: 13%;
}

.bookstar1_img, .bookstar3_img, .bookstar2_img, .bookstar4_img, .furniture1_img, .furniture2_img, .furniture3_img, .furniture4_img, .book1_img, .book2_img, .book3_img, .book4_img, .qartochka {
position: absolute;
}

.bookstar2 {
/* margin-left: 42%;
margin-top: -19.1%; */
margin-left: 40%;
margin-top: -18.1%;
}

.bookstar2_img {
width: 18%;
}

.bookstar3 {
margin-left: 72%;
margin-top: 88.9%;
}

.bookstar3_img, .bookstar4_img {
/* width: 17%; */
width: 15%;
}

.bookstar4 {
/* margin-left: 10.5%; */
    margin-left: 11.5%;
margin-top: 127.5%;
}

.bookstar1_img:hover, .bookstar2_img:hover, .bookstar3_img:hover, .bookstar4_img:hover {
transform: rotate(90deg);
}

.furniture1 {
/* margin-left: 32.3%;
margin-top: -19.9%; */
margin-left: 34.3%;
    margin-top: -17%;
}

.furniture1_img {
/* width: 34%; */
width: 31%;
}

.furniture2 {
margin-left: 64.3%;
margin-top: 38.9%;
}

.furniture2_img {
/* width: 30%; */
width: 28%;
}

.furniture3 {
/* margin-left: 4.3%;
margin-top: 79.9%; */
margin-left: 5.3%;
margin-top: 78.9%;
}

.furniture3_img {
/* width: 26%; */
width: 25%;

}

.furniture4 {
/* margin-left: 34%;
margin-top: -34%; */
margin-left: 35%;
margin-top: -32.5%;
}

.furniture4_img {
/* width: 32%; */
width: 30%;
}

.book1 {
/* margin-left: 73.3%;
margin-top: 14.1%; */
margin-left: 72%;
    margin-top: 14%;
}

.book1_img, .book2_img, .book3_img, .book4_img {
width: 15.3%;
}

.book2 {
/* margin-left: 9.3%;
margin-top: 52.4%; */
margin-left: 12.3%;
margin-top: 51.4%;
}

.book3 {
/* margin-left: 41.4%; */
margin-left: 42%;
margin-top: 90.1%;
}

.book4 {
/* margin-left: 73.3%; */
margin-left: 72.3%;
margin-top: 140.3%;
}

.qartochka {
width: 71%;
height: 12.5%;
left: 14.4%;
top: 4%;
background: #FFFFFF;
}

.circle_qartochka1, .circle_qartochka2 {
background: black;
box-sizing: border-box;
border-radius: 50%;
}

.circle_qartochka1 {
margin-top: 2.3%;
}

.circle_qartochka1, .circle_qartochka2 {
width: 3.8%;
height: 7.2%;
margin-left: 48.3%;
}

.circle_qartochka2 {
margin-top: 40.3%;
}

.burger_b{
margin-left: 93%;
margin-top: 2%;
}

.burger1_b{
width: 17%;
}

/* RESPONSIVE */

@media all and (max-width: 1920px){
.tire9_b {color: black;}
}

@media all and (min-width: 568px){
.burger2_b {display:none;}
}

/* GEROI */

/* GRID? */

.first_third_g, .second_third_g, .third_third_g {
border: 1px solid black;
}

.first_third_g {
height: 38.7%;
}

.second_third_g {
height: 20%;
top: 25%;
}

.third_third_g {
height: 40%;
top: 50%;
}

.footer_g {
width: 100%;
height: 3%;
margin-top: 3.5%;
background-color: white;
border: 1px solid white;
}

/* TEXT */

.tire1_g, .tire2_g, .tire3_g, .tire6_g, .tire7_g, .tire8_g .tire10_g, .tire11_g, .tire12_g, .tire13_g, .agetxt, .geroiabout, .director, .antoninatxt, .yaroslavtxt, .date1qvadratbig, .date2qvadratbig, .date3qvadratbig, .date4qvadratbig {
left: 9.3%;
}

.tire1_g {
top: 6.5%;
}

.tire2_g {
top: 32.6%;
}

.tire3_g {
top: 42.5%;
}

.tire4_g, .tire5_g {
top: 40.6%;
}

.tire4_g {
left: 33%;
}

.tire5_g {
left: 63.6%;
}

.tire6_g {
top: 49%;
}

.tire7_g {
top: 55.8%;
}

.tire8_g {
top: 62.8%;
left: 9.3%;
}

.tire9_g {
left: 37.5%;
top: 56%;
}

.tire10_g {
top: 69.4%;
left: 9.3%;
}

.tire11_g {
top: 95.3%;
}

.tire12_g {
top: 38.6%;
}

.tire5_g, .tire4_g, .tire9_g {
transform: rotate(90deg);
}

.agetxt, .antract  {
top: 4.5%;
}

.antract {
left: 78%;
}

.geroihead {
top: 4%;
left: 40.5%;
}

.geroiabout {
top: 34.3%;
}

.director, .directorwho, .actors, .actorswho, .writer, .writerwho   {
top: 40.8%;
}

.directorwho {
left: 29.3%;
}

.actors {
left: 37.4%;
}

.actorswho {
left: 54.3%;
}

.writer {
left: 68.4%;
}

.writerwho {
left: 85.5%;
}

.otziv {
top: 45.85%;
left: 42%;
}

.antonina, .stas  {
top: 50.9%;
}

.antonina, .yaroslav {
left: 9.5%;
}

.antoninatxt, .stastxt {
top: 53.3%;
}

.yaroslav {
top: 57.9%;
}

.yaroslavtxt {
top: 60.3%;
}

.stas, .stastxt{
left: 52.9%;
}

.wearehappy {
top: 58.2%;
left: 52.9%;
}

.cupitbilet {
top: 66.1%;
left: 43%;
}

.date1, .date2, .date3, .date4 {
top: 40%;
left: 27%;
}

.date1, .date2, .date3, .date4 {
color: white;
}

.date1qvadratbig {
top: 35%;
}

.date2qvadratbig {
top: 41%;
}

.date3qvadratbig {
top: 47%;
}

.date4qvadratbig {
top: 53%;
}

.date1qvadratbig, .date2qvadratbig, .date3qvadratbig, .date4qvadratbig {
position: relative;
width: 81%;
height: 8%;
border: 1px solid #FFFFFF;
box-sizing: border-box;
}

.date1qvadrat {
height: 102%;
left: -0.1%;
top: -1%;
}

.date2qvadrat {
height: 101.8%;
left: -0.1%;
top: -1%;
}

.date3qvadrat {
height: 102.4%;
left: -0.1%;
top: -1%;
}

.date4qvadrat {
left: -0.1%;
top: -0.6%;
height: 101.5%;
}

.date1qvadrat, .date2qvadrat, .date3qvadrat, .date4qvadrat, .date3qvadrat_cn, .date4qvadrat_cn {
position: relative;
width: 22%;
border: 1px solid #FFFFFF;
box-sizing: border-box;
}

.leftl, .rightl {
  top: 44%;
  left: 34%;
}

.timecode {
top: 44%;
left: 60%;
}

.ticketqvadrat1 {
top: -103%;
left: 78.1%;
height: 102.2%;
}

.ticketqvadrat2 {
margin-left: 78.1%;
margin-top: -8.1%;
height: 101.4%;
width: 22%;
}

#ticketqvadrat3 {
margin-left: 78.1%;
bottom: 103.4%;
height: 102.4%;
}

#ticketqvadrat4 {
margin-left: 78.1%;
bottom: 101.95%;
height: 101.4%;
}

.ticketqvadrat1, .ticketqvadrat2, #ticketqvadrat3, #ticketqvadrat4 {
position: relative;
width: 22%;
box-sizing: border-box;
}

.ticketqvadrat1, .ticketqvadrat2 {
background-color: #C4C4C4;
}

#ticketqvadrat3, #ticketqvadrat4, #ticketqvadrat1_cn, #ticketqvadrat2cn, #ticketqvadrat3_cn, #ticketqvadrat4_cn, .ticketqvadrat2_ss, .ticketqvadrat3_ss, .ticketqvadrat4_ss {
background-color: white;
}

#ticketqvadrat3:hover, #ticketqvadrat4:hover, .circle_question:hover, #ticketqvadrat1_cn:hover, #ticketqvadrat2cn:hover, #ticketqvadrat3_cn:hover, #ticketqvadrat4_cn:hover, .ticketqvadrat2_ss:hover, .ticketqvadrat3_ss:hover, .ticketqvadrat4_ss:hover {
background-color:#FF0000;
}

.noticket1, .noticket2 {
top: 40%;
left: 25%;
}

.yesticket1, .yesticket2 {
top: 40%;
left: 22%;
}

.noticket1, .noticket2, .yesticket1, .yesticket2 {
color: black;
}

.veta_g {
left: 9%;
color: black;
text-decoration: none;
}

.ha_g {
left: 85.5%;
}

.veta_g, .ha_g {
color: black;
bottom: 0.4%;
}

/* IMAGES */

.geroi {
margin-left: 9.3%;
margin-top: 17%;
}

.geroi_img, .antoninarate_img, .yaroslavrate_img, .stasrate_img, .next_img  {
position: absolute;
}

.geroi_img {
width: 81%;
height: 23%;
}

.antoninarate {
margin-left: 43%;
margin-top: 24.7%;
}

.antoninarate_img {
width: 5%;
}

.yaroslavrate {
margin-left: 43%;
margin-top: 37.9%;
}

.yaroslavrate_img {
width: 3.77%;
}

.stasrate {
margin-left: 83.8%;
margin-top: -13.2%;
}

.stasrate_img {
width: 6.4%;
}

.burger_g{
margin-left: 93%;
margin-top: 2%;
}

.burger1_g{
width: 17%;
}

/* .next_button {
width: 15%;
} */

/* .next_img {
width: 1%;
} */

.next {
width:20%;
margin-top: -4%;
margin-left: 89%;
}

.next:hover, .next_previous:hover, .next_cn:hover, .next_previous_cn:hover, .next_previous_ss:hover, .next_ss:hover {
opacity: 0.75;
}

.next_previous, .next_previous_cn, .next_previous_ss {
transform: rotate(180deg);
width: 20%;
}

.next_previous {
margin-top: 2%;
}

/* RESPONSIVE */

@media all and (min-width: 568px){
.burger2_g {display:none;}
}

/* CURSNA */

/* GRID? */

.first_third_cn, .second_third_cn, .third_third_cn {
border: 1px solid black;
}

.first_third_cn {
height: 38.7%;
}

.second_third_cn {
height: 20%;
top: 25%;
}

.third_third_cn {
height: 40%;
top: 50%;
}

.footer_cn {
width: 100%;
height: 3%;
margin-top: -0.5%;
background-color: white;
}

/* TEXT */

.cursnaabout, .tire2_cn {
left: 9.3%;
}

.cursnaabout {
top: 34%;
}

#ticketqvadrat1_cn {
top: -103%;
left: 78.1%;
height: 103%;
position: relative;
width: 22%;
box-sizing: border-box;
}

#ticketqvadrat2cn {
bottom: 102.6%;
height: 102%;
}

#ticketqvadrat2cn, #ticketqvadrat3_cn, #ticketqvadrat4_cn {
margin-left: 78.1%;
}

#ticketqvadrat3_cn {
margin-top: -8.25%;
height: 101%;
}

#ticketqvadrat4_cn {
margin-top: -8.35%;
height: 101.6%;
}

#ticketqvadrat2cn, #ticketqvadrat3_cn, #ticketqvadrat4_cn, .ticketqvadrat2_ss, .ticketqvadrat3_ss, .ticketqvadrat4_ss {
position: relative;
width: 22%;
box-sizing: border-box;
}

.tire2_cn {
top: 32.1%;
}

.date3qvadrat_cn {
height: 101.2%;
}

.date3qvadrat_cn, .date4qvadrat_cn {
left: -0.1%;
top: -0.8%;
}

.date4qvadrat_cn {
height: 101.5%;
}

.veta_cn {
left: 9%;
color: black;
text-decoration: none;
}

.ha_cn {
left: 85.5%;
}

.veta_cn, .ha_cn {
color: black;
bottom: 0.4%;
}

/* IMAGES */

.burger_cn{
margin-left: 93%;
margin-top: 2%;
}

.burger1_cn{
width: 17%;
}

.antoninarate_cn {
margin-left: 42.1%;
margin-top: 25.3%;
}

.yaroslavrate_cn {
margin-left: 42.2%;
margin-top: 38.9%;
}

.next_cn {
margin-top: 52.7%;
margin-left: 89%;
}

.next_previous_cn {
margin-top: 54.5%;
}

.next_previous_cn, .next_previous_ss, .next_previous {
margin-left: -9%;
}


/* RESPONSIVE */

@media all and (min-width: 568px){
.burger2_cn {display:none;}
}

/* SHRIFTSAD */

/* GRID? */

.first_third_ss {
height: 38.7%;
}

.first_third_ss, .second_third_ss, .third_third_ss {
border: 1px solid black;
}

.second_third_ss {
height: 20%;
top: 25%;
}

.third_third_ss {
height: 40%;
top: 50%;
}

.footer_ss {
width: 100%;
height: 3%;
margin-top: -0.5%;
background-color: white;
}

/* TEXT */

.tire1_ss, .tire2_ss, .shriftsadabout {
left: 9.3%;
}

.tire1_ss {
top: 6%;
}

.tire2_ss {
top: 33.6%;
}

.shriftsadabout {
top: 35.5%;
}

.ticketqvadrat2_ss, .ticketqvadrat3_ss  {
margin-left: 78.1%;
margin-top: -8.4%;
height: 102%;
}

.ticketqvadrat4_ss {
margin-left: 78.1%;
margin-top: -8.45%;
height: 102%;
}

.veta_ss {
left: 9%;
color: black;
text-decoration: none;
}

.ha_ss {
left: 85.5%;
}

.veta_ss, .ha_ss {
color: black;
bottom: 0.4%;
}

/* IMAGES */

.shriftsad {
margin-left: 9.3%;
margin-top: 16.2%;
}

.burger_ss{
margin-left: 93%;
margin-top: 2%;
}

.burger1_ss{
width: 17%;
}

.shriftsad_img {
position: absolute;
width: 81%;
height: 25%;
}

.next_ss {
width:20%;
margin-top: 53.5%;
margin-left: 89%;
}

.next_previous_ss {
margin-top: 55.3%;
}

/* PROSTRANSTVO */

/* GRID? */

.first_pr, .second_pr, .third_pr, .fourth_pr, .fifth_pr  {
border: 1px solid black;
}

.first_pr {
height: 16.6%;
}

.second_pr {
height: 20%;
top: 20%;
}

.third_pr {
height: 16.8%;
top: 50%;
}

.fourth_pr {
height: 21%;
top: 75%;
}

.fifth_pr {
height: 24.94%;
top: 90%;
}

.footer_pr {
width: 100%;
height: 3%;
margin-top: -0.5%;
background-color: white;
}

/* TEXT */

.tire1_pr {
top: 1.3%;
}

.tire2_pr {
top: 10.7%;
}

.tire3_pr {
top: 12.65%;
}

.tire4_pr {
left: 31.7%;
top: 16.9%;
}

.tire5_pr {
top: 21.1%;
}

.tire6_pr {
top: 23.6%;
}

.tire7_pr {
top: 33.93%;
}

.tire8_pr {
left: 23%;
}

.tire9_pr {
left: 57%;
}

.tire8_pr, .tire9_pr {
top: 36.4%;
}

.tire10_pr {
top: 38.8%;
}

.tire11_pr {
top: 40.8%;
}

.tire12_pr {
top: 51.2%;
}

.tire13_pr {
top: 53.15%;
}

.tire14_pr {
left: 23%;
}

.tire15_pr {
left: 57%;
}

.tire14_pr, .tire15_pr {
top: 55.6%;
}

.tire16_pr {
top: 57.97%;
}

.tire17_pr {
top: 60.1%;
}

.tire18_pr {
top: 62.6%;
}

.tire19_pr {
top: 73.25%;
}

.tire20_pr {
left: 23%;
}

.tire21_pr {
left: 57%;
}

.tire20_pr, .tire21_pr {
top: 75.7%;
}

.tire22_pr {
top: 78.1%;
}

.tire23_pr {
top: 80.3%;
}

.tire24_pr {
top: 82.77%;
}

.tire25_pr {
left: 23%;
}

.tire26_pr {
left: 57%;
}

.tire25_pr, .tire26_pr {
bottom: 14.4%;
}

.tire27_pr {
bottom: 12%;
}

.tire28_pr {
bottom: 1.7%;
}

.tire1_pr, .tire2_pr, .tire3_pr, .tire5_pr, .tire6_pr, .tire7_pr, .tire10_pr, .tire11_pr, .tire12_pr, .tire13_pr, .tire16_pr, .tire17_pr, .tire18_pr, .tire19_pr, .tire22_pr, .tire23_pr, .tire24_pr, .tire27_pr, .tire28_pr{
left: 9.3%;
}

.tire4_pr, .tire8_pr, .tire9_pr, .tire14_pr, .tire15_pr, .tire20_pr, .tire21_pr, .tire25_pr, .tire26_pr {
  transform: rotate(90deg);
}

.noltxt, .odintxt, .dvatxt, .tritxt {
left: 88.9%;
}

.zdanietxt, .noltxt {
top: 11.6%;
}

.zdanietxt, .laungetxt, .leftlozhatxt, .bartxt {
left: 9.3%;
}

.laungetxt, .odintxt {
top: 39.7%;
}

.leftlozhatxt, .dvatxt {
  top: 59%;
}

.bartxt, .tritxt {
top: 79.2%;
}

.laungeslider, .vhodslider, .barslider, .bathroomslider, .artprslider, .lozhaslider {
    top: 9.9%;
  left: 20.5%;
}

.zdanievrez {
top: 22%;
}

.laungevrez {
top: 52.1%;
}

.leftlozhavrez {
top: 61%;
}

.barvrez {
top: 81.2%;
}

.zdanievrez, .laungevrez, .leftlozhavrez, .barvrez{
left: 9.5%;
}

.podpis1 {
top: 33.2%;
}

.podpis2 {
top: 50.5%;
}

.podpis3 {
top: 72.4%;
}

.podpis4 {
top: 97.2%;
}

.podpis1, .podpis2, .podpis3, .podpis4 {
left: 19.5%;
}

.zdaniesmalltxt {
top: 35.1%;
}

.laungesmalltxt {
top: 54.3%;
}

.leftlozhasmtxt {
top: 74.7%;
}

.barsmalltxt {
top: 84%;
}

.zdaniesmalltxt, .laungesmalltxt, .leftlozhasmtxt, .barsmalltxt {
left: 38%;
}

.veta_pr {
left: 9%;
color: black;
text-decoration: none;
}

.ha_pr {
left: 85.5%;
}

.veta_pr, .ha_pr {
color: black;
bottom: 0.2%;
}

/* IMAGES */

.sketch1 {
margin-left: 9.3%;
margin-top: 62.7%;
}

.sketch2 {
margin-left: 54.3%;
margin-top: 33%;
}

.sketch2_img, .sketch1_img {
position: absolute;
width: 36%;
}

.zdanie2 {
margin-left: 19.6%;
margin-top: 113%;
}

.zdanie2_img, .vannaya_img, .leftlozha_img, .barcloseup_img  {
position: absolute;
width: 60%;
}

.zdaniesmall1 {
margin-left: 11.6%;
margin-top: 160.5%
}

.zdaniesmall1_img, .laungesmall1_img, .leftlozhasm1_img, .leftlozhasm2_img, .barsmall1_img, .barsmall2_img   {
position: absolute;
width: 16%;
}

.zdaniesmall2 {
margin-top: 153%;
}

.zdaniesmall2, .laungesmall2, .leftlozhasm2, .barsmall2  {
margin-left: 72.5%;
}

.zdaniesmall2_img {
position: absolute;
width: 15%;
}

.laungesmall1 {
margin-top: 82%;
}

.laungesmall1, .leftlozhasm1, .barsmall1 {
margin-left: 11.6%;
}

.laungesmall2 {
margin-top: -3%;
}

.laungesmall2_img {
position: absolute;
width: 16%;height: 4.7%;
}

.vannaya, .leftlozha, .barcloseup {
margin-left: 19.6%;
}

.vannaya {
margin-top: 25%;
}

.leftlozha {
margin-top: 48.5%;
}

.barcloseup {
margin-top: 66%;
}

.leftlozhasm1 {
margin-top: 98%;
}

.leftlozhasm2 {
margin-top: 63.2%;
}

.barsmall1 {
margin-top: 44%;
}

.barsmall2 {
margin-top: 3.1%;
}


.zdanie2_img:hover, .vannaya_img:hover, .leftlozha_img:hover, .barcloseup_img:hover {
-webkit-filter: invert(85%);
filter: invert(85%);
}

.burger_pr{
margin-left: 94%;
margin-top: -75%;
}

.burger1_pr{
width: 17%;
}

/* RESPONSIVE */

@media all and (min-width: 568px){
.burger2_pr {display:none;}
}
